alembic==0.8.8
androguard==3.0.1
beautifulsoup4==4.5.3
chardet==2.3.0
click==6.6
django==1.8.4
django_extensions==1.6.7
dpkt==1.8.7
egghatch>=0.2.3<0.3
elasticsearch==5.3.0
flask==0.12.2
flask-sqlalchemy==2.1
httpreplay>=0.2.4<0.3
jinja2==2.9.6
jsbeautifier==1.6.2
oletools==0.51
peepdf>=0.4.2<0.5
pefile2==1.2.11
pillow==3.2
pyelftools==0.24
pyguacamole==0.6
pymisp==2.4.54
pymongo==3.0.3
python-dateutil==2.4.2
python-magic==0.4.12
roach>=0.1.2<0.2
sflock>=0.3.6<0.4
sqlalchemy==1.0.8
unicorn==1.0.1
wakeonlan==0.2.2
yara-python>=3.6.3
requests[security]==2.13.0
scapy==2.3.2
gevent==1.1.1
psycopg2>=2.6.2
weasyprint==0.36
libvirt-python
XenAPI
m2crypto
distorm3
pycrypto
openpyxl
ujson
git+https://github.com/volatilityfoundation/volatility.git
